@import 'https://fonts.googleapis.com/css?family=Open+Sans:600,700';

* {
  font-family: 'Open Sans', sans-serif;
}

.dashboard-stats {
  display: flex;
  flex-wrap: nowrap; /* Prevent wrapping to ensure all items stay on one line */
  gap: 20px; /* Use gap instead of grid-gap for flex */
  padding: 20px;
  overflow-x: auto; /* Add horizontal scroll if items overflow */
  width: 100%;
  align-content: center;
}

.dashboard-stat {
  background-color: var(--gray);
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
  cursor: pointer;
  display: flex; /* Use flexbox for layout */
  justify-content: space-between; /* Align items with space between them */
  align-items: center; /* Center items vertically */
  height: 100px;
  width: 150px;
}

.dashboard-stat:hover {
  background-color: #007bff;
  color: white;
  margin: 10px 15px;
}
.dashboard-stat:hover p {
  color: white;
}

.dashboard-stat h3 {
  font-size: 0.8em;
  margin-right: 10px; /* Add margin to separate from value */
}

.dashboard-stat p {
  font-size: 2.2em;
  font-weight: bold;
  color: #007bff;
}
