@import 'https://fonts.googleapis.com/css?family=Open+Sans:600,700';

* {
  font-family: 'Open Sans', sans-serif;
}

.manuscripts-table-container {
  margin-top: 20px;
  position: relative;
  z-index: 9999;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  background-color: #fff;
  padding: 10px;
  border: 1px solid #ddd;
}

/* submittedman.css */
.manuscripts-table-container {
  width: 100%;
  /* overflow: hidden; */
}

.manuscripts-table {
  border-collapse: collapse;
  margin-bottom: 20px;
  max-width: 100%;
}

.manuscripts-table th,
.manuscripts-table td {
  padding: 8px;
  text-align: left;
  font-size: 14px;
}

.manuscripts-table th,
.manuscripts-table td {
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
}

.manuscripts-table .actions {
  border-bottom: 1px solid #ddd;
  border-right: 0 solid #ddd;
}

.manuscripts-table {
  width: 100%;
  border-collapse: collapse;
  /* margin-bottom: 20px; */
  border-radius: 10px;
  /* Add border radius to the table */
}

.action-dropdown {
  position: absolute;
  top: -150px;
  right: 20px;
  z-index: 1000;
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 5px;
  white-space: nowrap;
  font-size: small;
  display: none;
  /* Initially hide the dropdown */
}

.action-button:hover+.action-dropdown,
.action-dropdown:hover {
  display: block;
  /* Show dropdown when action button or dropdown itself is hovered */
}

.pagination {
  text-align: center;
  margin-top: 10px;
  right: 20px;
  margin-left: auto;
}

.pagination button {
  margin: 0 4px;
  padding: 6px 10px;
  border: none;
  background-color: #007bff;
  /* #007bff color */
  color: white;
  cursor: pointer;
  border-radius: 4px;
}

.pagination button:hover {
  background-color: dark#007bff;
  /* Dark #007bff on hover */
}

.action-buttons {
  display: inline-block;
  /* Ensure the container wraps its content */
  position: relative;
  /* Establish positioning context for absolute positioning */
}

.action-button {
  padding: 8px 12px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  z-index: 1;
}


th {
  background-color: #fff;
  color: #007bff;
  border: 0;
}

tr:hover {
  background-color: #e8e8e8;
}


.action-dropdown button {
  display: block;
  width: 100%;
  padding: 5px;
  text-align: left;
  border: none;
  background: none;
  cursor: pointer;
}

.action-dropdown button:hover {
  background-color: #f2f2f2;
}

/* Style for the popup content */

.popup-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  /* Semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  /* Ensure popup is above other content */
}

.invite-popup {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  width: 400px;
}


.invite-popup h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.invite-popup input,
.invite-popup select {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.invite-popup button {
  padding: 10px 20px;
  margin-right: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.invite-popup button:last-child {
  margin-right: 0;
}